@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Playfair Display", serif !important;
}

.about-btn {
  position: fixed;
  top: 1%;
  right: 1%;
}

.center-container {
  position: absolute;
  width: fit-content;
  margin: auto;
  top: 33%;
  /* bottom: 0; */
  left: 0;
  right: 0;
}

.center-text {
  position: absolute;
  /* z-index: 1; */
  /* top: 35%; */
  /* left: 24%; */
  font-size: 200%;
  /* margin: auto; */
  margin-top: 34.5%;
  margin-left: 35%;
  /* left: 0;
  right: 0; */
  /* top: 50%; */
}

.tableau {
  writing-mode: vertical-lr;
  font-size: 300%;
  position: absolute;
  bottom: 7%;
}

.dambiance {
  font-size: 300%;
  left: 1%;
  position: absolute;
  bottom: 0;
}

.about-side-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f6f6f6;
  height: 100%;
  width: 300px;
  z-index: -1;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.about-side-menu-txt-container {
  margin-top: 25%;
  margin-right: 10%;
}

.copyright {
  font-size: 12px;
  font-weight: normal;
}
