/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Playfair Display", serif;
}

/* .page-container {
  position: relative;
} */

.about-btn {
  position: fixed;
  top: 1%;
  right: 1%;
}

.center-container {
  position: relative;
  text-align: center;
  width: fit-content;
}

.center-text {
  position: absolute;
  top: 42%;
  left: 24%;
}

/* .app-name-container {
    position: absolute;
    bottom: 0;
    } */

.tableau {
  writing-mode: vertical-lr;
  font-size: 300%;
  position: absolute;
  bottom: 6%;
}

.dambiance {
  font-size: 300%;
  left: 1%;
  position: absolute;
  bottom: 0;
}

/* .about-side-menu {
  background-color: #f6f6f6;
  width: 330px;
} */
