@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Playfair Display", serif !important;
  /* height: 100vh !important; */
}

a:link {
  text-decoration: none;
}

.tableau {
  writing-mode: vertical-lr;
  font-size: 300%;
  position: fixed;
  bottom: 6%;
}

.dambiance {
  font-size: 300%;
  left: 1%;
  position: fixed;
  bottom: 0;
}

.slogan-top {
  font-size: 200%;
  position: absolute;
  top: 0;
  right: 1%;
}

.slogan-right {
  font-size: 200%;
  position: absolute;
  right: 0;
  top: 5%;
  writing-mode: vertical-lr;
}

.back-arrow-new,
.back-arrow-returning {
  position: absolute;
  top: 2%;
  left: 2%;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
  border: none;
}

/* STARTING PAGE */
.open-about-btn,
.close-about-btn {
  position: fixed;
  top: 1%;
  right: 1%;
  cursor: pointer;
}

.center-container {
  position: absolute;
  width: fit-content;
  margin: auto;
  top: 33%;
  left: 0;
  right: 0;
  padding: 0 100px 0 100px;
}

.center-text {
  position: absolute;
  text-align: center;
  font-size: 200%;
  top: 40%;
  right: 12%;
}

.new-user,
.returning-user {
  border: none;
  background-color: transparent;
}

.user-btns {
  position: absolute;
  font-size: 125%;
  top: 55%;
  left: 30%;
  font-family: "Open Sans", sans-serif;
}

.about-side-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f6f6f6;
  height: 100%;
  width: 300px;
  z-index: -1;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding-left: 25px;
  padding-right: 25px;
}

.about-app-headers {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.about-app-txt {
  font-size: 12px;
  display: none;
}

.about-side-menu-txt-container {
  margin-top: 25%;
}

.copyright {
  font-size: 10px;
  font-weight: normal;
}

/* NEW USER PAGE */
.user-container {
  position: absolute;
  width: fit-content !important;
  top: 40%;
  left: 0;
  right: 0;
}

.user-header {
  font-size: 150%;
  padding-left: 55px;
}

.new-user-subtitle {
  font-size: 90%;
  font-family: "Open Sans", sans-serif;
}

.user-username {
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  width: 300px;
  font-size: 125%;
  font-family: "Playfair Display", serif;
}

.continue-btn {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

/* MAIN PAGE */
.main-page,
.home {
  position: relative;
}

.home-container {
  position: absolute;
  top: 30%;
  left: 30%;
  right: 0;
  background: url("imgs/Camera _Flatline.png") no-repeat center;
  padding-top: 45px;
  padding-bottom: 45px;
}

.welcome,
.hello-user {
  font-size: 48px;
}

.hello-user {
  font-weight: bold;
}

.instructions {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.file-name {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  position: fixed;
  /* cursor: pointer; */
}

/* .file-name-rename {
  border-width: thin;
  border-radius: 10px;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: italic;
  position: fixed;
  margin-top: 1%;
} */

.hamburger {
  position: fixed;
  width: 25px;
  height: 25px;
  top: 2.5%;
  left: 2%;
  cursor: pointer;
  z-index: 1;
}

.logout {
  position: absolute;
  font-size: 16px;
  right: 15%;
  font-family: "Playfair Display", serif;
  font-style: italic;
  cursor: pointer;
}

.collections-side-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  height: 100%;
  width: 300px;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.collections-side-menu-txt-container {
  margin-top: 25%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.username-display {
  font-size: 24px;
  font-family: "Playfair Display", serif;
}

.collections-header {
  font-weight: bold;
  font-size: 14px;
}

.close-collections-btn {
  position: fixed;
  top: 2%;
  margin-left: 250px;
  cursor: pointer;
}

.each-collection {
  width: fit-content;
  cursor: pointer;
}

/* PICTURE BOARD */
.blank {
  height: 100vh;
}

.picture-board .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.picture-board-col {
  flex: 100%;
  padding: 0 4px;
}

.picture-board-col img {
  margin-top: 8px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-width: max-content;
}

.new-btn {
  border: none;
  background-color: transparent;
}

.add-btn-container {
  display: flex;
  justify-content: center;
}

.add-btn {
  margin-top: 50px !important;
  margin-bottom: 50px;
  cursor: pointer;
}

/* .add-form-container {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
} */

/* .new-picture-form {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
} */

.scroll-btns {
  position: fixed;
  top: 20vh;
  margin-left: 90vw;
  cursor: pointer;
}

.scroll-btns:hover {
  color: #808080;
}

.uparrow {
  margin-bottom: 50px;
}

.downarrow {
  margin-top: 50px;
}

.delete-form {
  position: fixed;
  right: 10vh;
  bottom: 5vh;
}

.delete {
  position: fixed;
  right: 10vh;
  bottom: 5vh;
  border-radius: 20px !important;
  font-family: "Open Sans", sans-serif;
  font-size: 12px !important;
}

/* COLLECTION  */
.submit-btn {
  border: none;
  background-color: transparent;
}

.new-name {
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
}

.new-name:focus {
  outline: none;
}
